body {
    background-color: lightblue;
    font-size: 2.5em;
}
.base {
  color: rgb(255, 0, 166);

}
nav {
      background-color: #333;
      overflow: hidden;
      display: flex;
      justify-content: center;
      padding: 1em 0;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1.2em;
}
nav a:hover {
  background-color: #575757;
}


