<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Página de Hello sendo apresentada</title>
</head>
<body>
    <h1>Consultar um cliente</h1>
    <form th:action="@{/consulta}" th:object="${cliente}"  method="get"   >
        <div>
            <label for="nome">
                Nome:
            </label>
            <input id="nome" name="nome" th:value="${cliente.nome}">
        </div>
        <div>
            <input type="submit" value="Consultar"/>
        </div>
        <div>
            <h1>Tudo bem Sr(a): <span th:text="${cliente.nome}"></span></h1>
            <h1>Sua matricula:  <span th:text="${cliente.id}"></span></h1>
        </div>
    </form>
    <form th:action="@{/cadastro}" th:object="${cliente}"  method="get"   >
        <div>
            <input type="submit" value="Cadastrar"/>
        </div>
    </form>
</body>
</html>
