<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Página de Login Apresentada. </title>
    <style>
       body {
          background-color: lightgray;
          width: 70%;
          text-align: center;
          margin: 0.5em 0 2em 0;
          padding-top: 5em;
          font-size: 2.5em;
       }
    </style>
  </head>
  <body>
    <div th:if="${param.error}">
      Usuário e senha inválidos.
    </div>
    <div th:if="${param.logout}">
      Você deve executar logout.
    </div>
      <form th:action="@{/login}" method="post">

        <div>
          <label>
            Usuário (drm): <input type="text" name="username"/>
          </label>
        </div>
        <div>
          <label>
            Senha (12345): <input type="password" name="password"/>
          </label>
        </div>
        <div>
          <input type="submit" value="Efetuar login"/>
        </div>
      </form>
  </body>
</html>
